.button {
  color: #fff;
  background: #161b22;
  border: 1px solid #30363d;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  font-family: inherit;
  font-size: 15px;
  font-weight: 500;
  align-self: center;
  cursor: pointer;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      outline: 0;
      background: #26ff55;
      color: #30363d;
    }
  }

  &:focus:active {
    outline: 0;
    background: #26ff55;
    color: #30363d;
  }
}
